
<div *ngIf="pokemon != undefined" class="pokemonContainer">
    <div class="record">
        <p class="name">{{pokemon.username}}</p>
        <img *ngIf="url != undefined" src={{url}}/>
    </div>
    <div class="buttonContainer">
        <button id="deleteBtn" (click)="delete()"> </button>
    </div>
</div>
    
    