<div class="profile">
    <h1>Pokémon list</h1>
    <div class="profileContainer">
        <app-paginated-pokemon-list *ngFor="let pokemon of loadedPokemons" [pokemon]="pokemon"></app-paginated-pokemon-list>
    </div>

    <div class="alignRow">
        <p *ngIf="min != undefined">{{min}}</p>
        <p *ngIf="min != undefined && max != undefined">-</p>
        <p *ngIf="max != undefined">{{max}}</p>
    </div>

    <div class="paginationContainer">
        <button *ngIf="prev != undefined"  (click)="prevPage()"><</button>
        <button *ngIf="next != undefined"  (click)="nextPage()">></button>
    </div>
</div>


