@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    margin-top: 12px;
}

.alignRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    margin: 8px;
}

.profileContainer {
    
}

.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

button {
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    color: black;

    margin: 1em;
    background-color: #FFCC00;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    border-radius: 32px;
}

button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

button:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}