<div class="profile">
    <h1>{{user.username}}</h1>
    <div *ngIf="collectedPokemons.length > 0" class="profileContainer">
        <app-collected-pokemon-list *ngFor="let pokemon of collectedPokemons" [pokemon]="pokemon"></app-collected-pokemon-list>
    </div>
    <div *ngIf="collectedPokemons.length == 0" class="profileContainer">
        <p>No pokémon available brur</p>
    </div>
    <button (click)="doLogOut()" class="logOutBtn">Log out</button>
</div>
