@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 24px;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    color: black;
}

button {
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    color: black;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-bottom: 6px solid #FFCC00 ;
    border-top: 6px solid #FFCC00 ;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.translations {
    margin: 1em;
}

.wipeBtn {
    margin: 1em;
    background-color: #FFCC00;
    border: none;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
}

.wipeBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.wipeBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.logOutBtn {
    margin: 1em;
    background-color: #FFCC00;
    border: none;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
}

.logOutBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.logOutBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}
