
.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
}  

.loginBtn {
    width: 60px;
    height: 30px;
    border-radius: 12px;
    margin-top: 12px;
    margin-left: -72px;
    background-color: #FFCC00;
    border: transparent;
    color: white;
    
    /*pulled from https://stackoverflow.com/questions/63434434/css-button-with-right-arrow*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.loginBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px #0075BE ;
    transition: 0.7s;
}

.loginBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px #0075BE ;
}

.inputForm {
    margin-top: 12px;
    border-radius: 32px;
    height: 50px;
    width: 350px;
    font-size: 16px;
    text-align: left;
    padding-left: 72px;
    margin-left: -72px;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    border: transparent;
}

.alignLogin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard {
    width: 90px;
    height: 60px;
    border-radius: 12px;
    margin-top: 12px;
    border: transparent;
    z-index: 0;
    background-image: url("../../../assets/input/keyboard.svg");
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    text-align:right;
}
