
    <div class="alignLogin">
        <div class="loginForm">
            <button class="keyboard">〣</button>
            <form #loginForm="ngForm" (ngSubmit) = "login(loginForm)">
                <input
                ngModel
                name="username"
                #username="ngModel"
                type="text"
                placeholder="What's your name?"
                class="inputForm"
                required
                >
                
            </form>

            <button class="loginBtn" type="submit" (click)="login(loginForm)"></button>
        </div>
    </div>
