.listContainer{
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.1);
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 1em;
}

.abilityContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.innerAbilityContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.innerAbilityContainer p {
    width: fit-content;
}

.typesContainer {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
}
.innerTypesContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.innerTypesContainer p {
    width: fit-content;
}

#types{
    text-decoration: solid underline #FFC75F 3px;
}

#ability{
    text-decoration: solid underline #FFC75F 3px;
}


p {
    font-size: 9px;
    width: 150px;
    white-space: nowrap;
}

.innerListContainer {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: left;
    flex-direction: column;
}