<p *ngIf="pokemon == undefined">No details found for pokemon</p>

<div *ngIf="pokemon != undefined" class="listContainer">
    <div class="innerListContainer">
        <p>{{pokemon.name}}</p>
        <p>{{pokemon.weight}}</p>
        <p>{{pokemon.height}}</p>
        <p>{{pokemon.base_experience}}</p>
        <p>{{pokemon.stats}}</p>
        <div class="abilityContainer">
            <p id="ability">Abilities:</p>
            <div class="innerAbilityContainer">
                <p *ngFor="let abilities of pokemon.abilities">{{abilities}}</p>
            </div>
        </div>
        <div class="typesContainer">
            <p id="types">Types: </p>
            <div class="innerTypesContainer">
                <p *ngFor="let type of pokemon.types">{{type}}</p>
            </div>
        </div>
    </div>
</div>
