@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.record {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 400px;
}

img {
    margin-right: 3em;
}  

.name {
    width: 150px;
}

.animate__bounceOut {
    opacity: 0.5;
    pointer-events: none;
}

.pokemonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 6px solid #FFC75F;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.1);
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

button {
    border-radius: 48px;
    height: 32px;
    width: 32px;
}

#detailsBtn {
    background-color: #FFC75F;
    background-image: url("../../../assets/button/more_info_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px;
}

#addBtn {
    background-color: #0075BE;
    background-image: url("../../../assets/button/save_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

button:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}