<div class="pokemonContainer" [ngClass]="animation ? 'animate__bounceOut' : 'test'">
    <div class="record">
        <p class="name" *ngIf="pokemon != undefined">{{pokemon.name}}</p>
        <img *ngIf="pokemon != undefined"  src={{pokemon.avatar}}/>
    </div>
    
    <p *ngIf="pokemon == undefined">No pokémon available brur</p>
    <div class="buttonContainer">
        <button id="detailsBtn" (click)="moreInfoSelected()"> </button>
        <button id="addBtn" (click)="addToCollectionSelected()"> </button>
    </div>
</div>

<app-detailed-pokemon-info *ngIf="detailedPokeInfo != undefined" [pokemon]="detailedPokeInfo"></app-detailed-pokemon-info>

