<div class="navbarContainer">

    <a routerLink="">
        <img src="../../../assets//logo/pikachu.png" alt="Pokémon Trainer Logo"/>
    </a>

    <a routerLink="pokemon" class="catalogue">Pokémon Catalogue</a>

    <a routerLink="trainer" class="miniProfile">
        <app-mini-trainer-profile *ngIf="user.username || user.username != ''"></app-mini-trainer-profile>
    </a>
</div>

