@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #0075BE;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

a {
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: white;
}

img {
    width: 50px;
    padding-left: 105px;
}

:host {
    width: 100%;
}

.miniProfile {

}

.catalogue {
    margin: 128px;
}